* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    color: hsl(260, 8%, 14%);
}

.detail {
    border: 0.3rem solid hsl(180, 66%, 49%);
    border-radius: 5px;
    height: 0;
    width: 50%;
    position: absolute;
    top: 76.4rem;
    right: 18rem;
}

::placeholder {
    color: hsl(257, 7%, 63%);
}

.backround-gray {
    background-color: hsl(220, 36%, 95%);
    margin: 9rem 0 0 0;
}

a {
    text-decoration: none;
    color: black;
}


.modal>div,
hr {
    display: block;
}

.modalOf {
    display: none;
}

hr {
    width: 22.5rem;
    height: 2px;
    border: 0px;
    background-color: #786997fc;
}

/* #region font family*/
.poppins-medium {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* #endregion */

/* #region header  */
.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
    justify-items: center;
}

.left-header {
    display: flex;
    width: 30rem;
}

#header-logo {
    max-width: 100%;
}

#menu {
    display: none;
}

/* #region div-links */
.div-links>a {
    text-decoration: none;
}

.div-links>a:visited {
    text-decoration: none;
}

.div-links>a:hover {
    text-decoration: none;
}

.div-links>a:active {
    text-decoration: none;
}

.div-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0rem 0rem 0 2rem;
    align-self: center;
}

.div-links>a {
    padding-left: 1rem;
    text-decoration: none;
    color: hsl(0, 0%, 75%);
}

.div-links>a:hover {
    padding-left: 1rem;
    text-decoration: none;
    color: hsl(260, 8%, 14%);
    font-weight: 700;
}

/* #endregion div-links*/

/* #region buttons-login-logout */
.buttons-login-logout {
    align-self: center;
    margin-left: 12rem;
    display: block;
}

.buttons-login-logout>button {
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

.buttons-login-logout>#singUp {
    background-color: hsl(180, 66%, 49%);
    color: white;
    margin-left: 0.7rem;
}

.buttons-login-logout>#singUp:hover {
    background-color: hsl(180, 66%, 75%);
}

.buttons-login-logout>#singIn {
    color: hsl(0, 0%, 75%);
}

.buttons-login-logout>#singIn:hover {
    color: hsl(260, 8%, 14%);
    font-weight: bolder;
}

.ilustrat-working {
    max-width: 100%;
    position: absolute;
}


.div {
    width: 5rem;
    height: 5rem;
    border: 1px solid black
}

/* #endregion buttons-login-logout*/


/* #endregion header*/

/* #region main-content */
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0rem 0rem 7rem;
    justify-content: space-between;
}

.div-main-content {
    width: 30rem;
}

.text-main {
    font-size: 4.5rem;
    margin: 0px;
    line-height: 6rem;
    color: hsl(260, 8%, 14%);
    padding-top: 2rem;
}

.collum-2 {
    display: flex;
    width: 40rem;
    height: 482px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-content>div>p {
    line-height: 2rem;
    color: hsl(257, 7%, 63%);
    font-size: 1.3rem;
    margin: 0px;
    width: 35rem;
}

.get-started {
    border-radius: 2rem;
    padding: 0.8rem 3rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: hsl(180, 66%, 49%);
    color: white;
    margin-top: 2rem;
    font-size: 1rem;
}

.get-started:hover {
    background-color: hsl(180, 66%, 75%);
}

#ilustrator {
    width: 51rem;
}

/* #endregion main */

/* #region shorten-url */

.shorten-url {
    display: flex;
    margin: 2rem 0rem;
    justify-content: space-between;
}

.div-shorten-content {
    width: 69rem;
    margin: -4rem auto 0rem;
    height: 10.3rem;
    border-radius: 0.5rem;
    background-image: url('/images/bg-shorten-desktop.svg');
    background-color: hsl(257, 27%, 26%);

}

.div-shorten-content>div {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 3rem 3rem;
}

.div-shorten-content>div>input {
    border-radius: 0.5rem;
    padding: 1rem;
    width: 95%;
    color: hsl(257, 7%, 63%);
}

.div-shorten-content>div>button {
    border-radius: 0.5rem;
    padding: 1rem 0rem;
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    background-color: hsl(180, 66%, 49%);
    color: white;
    margin-left: 1rem;
}

.div-shorten-content>div>button:hover {
    background-color: hsl(180, 66%, 75%);
}

/* #endregion */

/* #region adv-statistics */
.adv-statistics {
    text-align: center;
    margin-top: 7rem;
}

.adv-statistics>h2 {
    font-size: 2rem;
}

.adv-statistics>p {
    width: 40rem;
    margin: 0 auto;
    color: hsl(257, 7%, 63%);
    font-size: 1.4rem;
    line-height: 2.5rem;
}

/* #endregion */

/* #region cards */
.cards-collums {
    display: flex;
    margin-top: 2rem;
}

.cards {
    display: flex;
    margin: 5rem auto 0rem;
}

.format-cards {
    width: 17.5rem;
    margin-right: 2.5rem;
    background-color: white;
    padding: 4rem 1rem 1.5rem 3rem;
    border-radius: 0.3rem;
    position: relative;
    z-index: 1;
}

.format-cards>h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.format-cards>p {
    color: hsl(257, 7%, 63%);
    font-size: 0.9rem;
    margin-top: 1rem;
    line-height: 1.5rem;
}

.div-img {
    height: 1rem;
    width: 1rem;
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: -6.5rem;
}

.recognition {
    margin-bottom: 10.5rem;
}

.records {
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.customizable {
    margin-top: 6rem;
    margin-bottom: 5.5rem;
}

#first-detail {
    width: 57%;
    left: 18rem;
    top: 89.1rem;

}

#second-detail {
    width: 13%;
    left: 49rem;
    top: 87.1rem;
}

/* #endregion */

/* #region boost your link */

.div-started-grid {
    display: flex;
    grid-template-columns: 10% 2.6fr 0.4fr;
    height: 15.7rem;
    background-image: url(images/bg-boost-desktop.svg);
    background-color: hsl(257, 27%, 26%);
    color: white;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.div-started-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-started-content>h2 {
    color: white;
}

.btn-started {
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 1rem 3rem;
    margin: 1rem auto;
}

.btn-started:hover {
    background-color: hsl(180, 66%, 75%);
}

/* #endregion */

/* #region footer */

footer {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: hsl(260, 37%, 8%);
    padding: 4rem 0rem;
    align-items: flex-start;
}

#whiteLogo {
    filter: invert(100%);
    margin: 0rem 0rem 0rem 6rem;
}

.details-dt {
    margin-left: 5rem;
}

.details-dt>a {
    color: hsl(257, 7%, 63%);
    font-size: 1rem;
}

.details-dt>a:hover {
    color: hsl(180, 66%, 49%);
}

.details-dt>h2 {
    color: white;
    font-size: 1rem;
    margin: 0rem;
}

.icons {
    margin-left: 5rem;
}

.icons>a {
    margin-right: 1rem;
}

.icons>a:hover path {
    fill: hsl(180, 66%, 49%);
}

.features {
    margin-left: 22rem;
}

/* #endregion */

@media screen and (min-width: 1440px) {
    .cards {
        margin: 5rem auto 0rem;
    }

    #first-detail {
        left: 23rem;
    }

    .div-started-grid {
        background-position: right;
    }
}

@media screen and (max-width: 1300px) {
    .features {
        margin-left: 15rem;
    }


}

@media screen and (max-width: 1200px) {

    .features {
        margin-left: 11rem;
    }

    .div-shorten-content {
        margin: -4rem 2rem 0rem;
    }

    .adv-statistics>h2 {
        margin: 0 2rem;
    }

    .div-started-grid {
        background-position: left;
    }
}

@media screen and (max-width: 1120px) {
    .features {
        margin-left: 9rem;
    }

    .cards {
        display: flex;
        margin: 5rem auto 0rem;
        flex-direction: column;
        align-items: center;
    }

    .format-cards {
        padding: 4rem 2rem 1.5rem 2rem;
        text-align: -webkit-center;
        width: 15.5rem;
    }

    .recognition,
    .records,
    .customizable {
        margin: 0rem auto 6rem;
        width: 16rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    #whiteLogo {
        margin: 0rem 0 4rem 0;
    }

    .features {
        margin-left: 0rem;
        width: 10rem;
    }

    .details-dt {
        width: 10rem;
        margin-left: 0rem;
        text-align: center;
        line-height: 2rem;
        margin: 0 0 3rem;
    }

    .icons {
        margin-left: 0rem;
    }

    .detail {
        transform: rotate(90deg);
    }

    #first-detail {
        width: 32rem;
        left: 0rem;
        top: 25.1rem;
        position: relative;
    }

}

@media screen and (max-width: 931px) {

    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    header {
        margin: 0 2rem;
        width: 100%;
    }

    .buttons-login-logout {
        display: none;
    }

    #ilustrator {
        width: 141%;
    }

    .cards {
        width: 100%;
    }

    .left-header {
        display: flex;
        width: 84%;
        justify-content: space-between;
    }

    .header-content {
        grid-template-columns: 10% 1fr 0.4fr;
        margin: 2rem 0rem;
        display: flex;
    }

    .div-shorten-content>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1.5rem 1.5rem;
    }

    .div-shorten-content>div>button {
        width: 100%;
        margin: 1rem 0rem 0rem 0rem;
    }

    .div-shorten-content>div>input {
        width: auto;
    }

    .div-links {
        display: none;
    }

    #singIn {
        display: none;
    }

    #singUp {
        display: none;
    }

    #menu {
        display: block;
        margin-left: 3rem;
        cursor: pointer;
    }

    .main-content {
        display: flex;
        margin: 2rem 0rem;
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .ilustrator-working {
        left: 0rem;
        width: 100%;
        margin-left: 2rem;
        overflow: hidden;
    }

    .text-main {
        font-size: 2.7rem;
        line-height: 3rem;
    }

    .collum-2 {
        width: 100%;
        height: 20rem;
        align-items: center;
    }

    .main-content>div>p {
        font-size: 1.2rem;
        margin: 0px auto;
        width: 90%;
        padding-top: 1rem;
    }

    /* #region links modal */
    .modal {
        display: none;
        background-color: hsl(257, 27%, 26%);
        color: white;
        border-radius: 1rem;
        margin: 0 auto;
        width: 87%;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
    }

    .div-links-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-links-modal>a {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 4rem;
    }

    .div-links-modal>a:hover {
        color: hsl(180, 66%, 49%);
    }

    .buttons-login-logout-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #singInModal {
        border: none;
        background-color: hsl(257, 27%, 26%);
        color: white;
        font-size: 1.5rem;
        line-height: 5rem;
        font-weight: bolder;
    }

    #singInModal:hover {
        color: hsl(180, 66%, 49%);
        font-weight: bolder;
    }

    #singUpModal {
        border-radius: 3rem;
        background-color: hsl(180, 66%, 49%);
        color: white;
        font-size: 1.5rem;
        padding: 1rem 30%;
        margin-bottom: 1.5rem;
        font-weight: bolder;
        border: none;
        width: 400%;
    }

    #singUpModal:hover {
        background-color: hsl(180, 66%, 75%);
    }

    hr {
        width: 22.5rem;
        height: 1px;
        border: 0px;
        background-color: #9e9aa7;
    }

    .adv-statistics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .adv-statistics>p {
        max-width: 20rem;
        margin: 0 2rem;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    /* #endregion */
}

@media screen and (max-width: 900px) {
    /* #first-detail {
        width: 35rem;
        left: 0rem;
        top: 25.1rem;
    } */
}

@media screen and (max-width: 500px) {
    /* #first-detail {
        width: 126%;
        left: 0rem;
        top: 28.1rem;
    } */
}